.container {
    cursor: pointer;
}

.location {
    width: 163px;
    height: 50px;
    border: 1px solid #ecedf3;
    border-radius: 25px;
    background: transparent;
    padding: 18px 16px;

    @extend .container;
}

.round {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifications {
    border: 1px solid #8bc83f;

    @extend .container, .round;
}

.user {
    border: 1px solid #ecedf3;

    img {
        border-radius: 50%;
    }

    @extend .container, .round;
}
