.main {
  cursor: pointer;
}

.location {
  width: 163px;
  height: 50px;
  border: 1px solid #ECEDF3;
  border-radius: 25px;
  background: transparent;
  padding: 18px 16px;


  @extend .main
}

.location_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location_title {
  font-size: 10px;
}

.notifications {
  border: 1px solid #8BC83F;
  border-radius: 50%;

  @extend .main
}


