$shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

.container {
    cursor: pointer;
}

.location {
    width: 163px;
    height: 50px;
    border: 1px solid #ecedf3;
    border-radius: 25px;
    background: transparent;
    padding: 18px 16px;
    box-shadow: $shadow;

    @extend .container;
}

.round {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $shadow;
}

.notifications {
    border: 1px solid #8bc83f;

    @extend .container, .round;
}

.user {
    border: 1px solid #ecedf3;

    img {
        border-radius: 50%;
    }

    @extend .container, .round;
}

.category {
    height: 47px;
    border-radius: 20px;
    padding: 18px 24px;
    font-size: 10px;
    border: none;

    @extend .container;
}
