.container {
    max-width: 300px;
    height: 156px;
    border-radius: 25px;
    background: rgba(245, 244, 248, 1);
    padding: 8px;
    display: flex;
    gap: 12px;
    position: relative;
    cursor: pointer;
}

.main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__header {
    display: grid;
    grid-row-gap: 8px;
}

.picture {
    width: 130px;
    height: 140px;
    border-radius: 25px;
}

.estateType {
    height: 27px;
    background: rgba(35, 79, 104, 1);
    color: #fff;
    position: absolute;
    left: 20px;
    bottom: 14px;
    font-size: 8px;
    padding: 9px 7px 9px 13px;
    border-radius: 8px;
}

.favourite {
    background: rgba(139, 200, 63, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 16px;
    left: 15px;
}

.title {
    font-size: 12px;
    color: rgba(37, 43, 92, 1);
    line-height: 18px;
}

.rating {
    display: flex;
    align-items: center;
    gap: 2px;
}

.rating__title {
    font-size: 8px;
    color: rgba(83, 88, 122, 1);
}

.price {
    white-space: nowrap;
    color: rgba(37, 43, 92, 1);
}
