.container {
    width: 258px;
    height: 156px;
    border-radius: 25px;
    background: rgba(245, 244, 248, 1);
    padding: 8px;
    display: flex;
    gap: 12px;
}

.picture {
    width: 130px;
    height: 140px;
    border-radius: 25px;
}
