$extra-small: 370px;
$small: 768px;
$medium: 1024px;
$large: 1280px;
$extra-large: 1440px;

.container {
    margin-bottom: 35px;
    display: grid;
    gap: 20px;

    @media (min-width: $extra-small) {
        max-width: $extra-large;
        align-items: center;
        grid-template-areas:
            'location'
            'actions';
        grid-template-columns: 4fr 1fr;
    }
}

.container_userActions {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-self: right;
}
