$xx_small: 8px;
$x_small: 10px;
$small: 15px;
$medium: 20px;
$big: 44px;

.main {
    display: block;
}

.xx_small {
    width: $xx_small;

    @extend .main;
}

.x_small {
    width: $x_small;

    @extend .main;
}

.small {
    width: $small;

    @extend .main;
}

.medium {
    width: $medium;

    @extend .main;
}

.big {
    width: $big;

    @extend .main;
}
